@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --black-color:black;
    --white-color:white;
    --gray-color : #f7f7f7;
    --gray2nd-color : #ccc;
    --gray3nd-color : #909090;
    --purple-color : purple;
    --blue-color : #3a4879;
}
*{
    box-sizing: border-box;
}
img{
    user-select: none;
}
.EN{
    direction: ltr;
  font-family: "Lato", sans-serif;
}
.AR{
    font-family: "Cairo";
    direction: rtl;
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}